.posts {
    margin-bottom: 50px;
}

.post-title {
    line-height: 30px;
    margin-bottom: 30px;
}

.post-date {
    font-style: italic;
}

.comments {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #E5E5E5;
}

.navbar .github li {
    margin: 10px 0 0 0;
}

footer {
    padding-top: 30px;
    border-top: 1px solid #E5E5E5;
    text-align: center;
}