.posts {
    margin-bottom: 50px;
}

.post-title {
    line-height: 30px;
    margin-bottom: 5px;
}

.post-date {
    font-style: italic;
}

.comments {
    margin: 50px 0 0 0;
    padding-top: 50px;
    border-top: 1px solid #E5E5E5;
}

footer {
    padding-top: 30px;
    border-top: 1px solid #E5E5E5;
}