.page {
    margin-bottom: 50px;
}

.page-title {
    margin: 0 0 20px;
}

.about p, .about li {
    font-size: 16px;
    line-height: 26px;
}

.about p {
    margin: 0 0 20px;
}

.post-title {
    line-height: 30px;
    margin-bottom: 30px;
}

.post-date {
    font-style: italic;
}

.related-posts {
    margin-top: 50px;
    border-top: 1px solid #E5E5E5;
}

.comments {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #E5E5E5;
}

.navbar .github li {
    margin: 10px 0 0 0;
}

.gittip {
    position: relative;
    list-style: none;
    margin: 0 0 0 50%;
    left: -88px;
}

.gittip li {
    display: block;
    float: left;
    margin: 0 2px;
}

footer {
    padding-top: 30px;
    border-top: 1px solid #E5E5E5;
    text-align: center;
}